.logo {
    width: 200px;
    height: 200px
}
.castle img {
    width: 500px;
    height: 500px;
    margin-top: 15px;
    border: 10px solid #003F88;
}

.knight img {
    width: 500px;
    height: 300px;
    margin-top: 15px;
    border: 10px solid #003F88;
}
.worldmap img {
    width: 75%;
    height: 75%;
    margin: 0
}
.fort img{
  width: 75%;
  height: 75%;
}
.dragon1 img{
    width: 900px;
    height: 700px;
    grid-column: 1;
}
.dragon2 img{
    width: 900px;
    height: 700px; 
    grid-column: 1;
}
#eventtext {
    grid-column: 1;
}
#event-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
header {
    background-color:#003F88 ;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a {
    text-align: center;
    color: #FCBF49;
    text-decoration: none;
    padding: 35px;
    display: block;
    font-size: 50px;
}
nav{
    display: flex;
    justify-content: space-around;
}
body {
    border: 10px solid #003F88;
    background-color: #FCBF49;
}
footer {
    background-color:#003F88;
    padding: 25px 50px;
    margin-top: 50px;
    color: white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}